html {
    max-width: 100%;
}
#Heading {
    margin-top: 25vh;
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35pt;
    color: rgb(41, 41, 41);
}

#Heading2 {
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26pt;
    font-weight:500;
    color: rgb(41, 41, 41);
}

#Text {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
    color: rgb(41, 41, 41);
}

#Button {
    padding: 8px 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 15pt;
    background-color: rgb(68, 68, 68);
    border-radius: 5px;
    cursor: pointer;
    margin-inline: 3px;
}
a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: white;
}

#Pages {
    margin-top: 3.65vh;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: flex;
    align-content: center;
    justify-content: center;
}
    
#Pages button {
    box-sizing: content-box;
    margin: 0.30vw;
    margin-top: 0;
}

#VisionHeading {
    margin-top: 10.35vh;
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35pt;
    color: rgb(41, 41, 41);
}

#VisionText {
    padding: 5px 30px;
    top: 50%;
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    color: rgb(41, 41, 41);
    line-height: 27px;
    text-align: center;
}

#VisionText2 {
    padding: 5px 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    color: rgb(41, 41, 41);
    line-height: 27px;
    text-align: center;
}

#Quote {
    margin-top: -15px;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    color: rgb(41, 41, 41);
    line-height: 27px;
    text-align: center;
}

#VisionText3 {
    padding: 5px 30px;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    color: rgb(41, 41, 41);
    line-height: 27px;
    text-align: center;
}

#Vision {
    border-width: 1.5px;
    border-style:solid;
    border-color:black;
    border-radius: 4px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 1.83vh;
    position: relative;
}

.nav-links ul li {
    display: inline-block;
    padding: 0px 35px;
}

.nav-links ul li a {
    color: rgb(41, 41, 41);
    text-decoration: none;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-links ul li a:hover {
    border-width: 1.5px;
    border-style: solid;
    border-color: black;
    padding: 10px 3px;
}

#ExperienceHeading {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35pt;
    color: rgb(41, 41, 41);
}

#ExperienceHeading2 {
    padding: 5px 30px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
    color: rgb(41, 41, 41);
    text-align: center;
}

#ExperienceHeading3 {
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13pt;
    color: rgb(41, 41, 41);
    text-align: center;
}

#ExperienceList {
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13pt;
    color: rgb(41, 41, 41);
    line-height: 24px;
}

.row1, .row2, .row3 {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 4px 0px;
}

.row1 div, .row2 div, .row3 div {
    padding: 0px 35px;
    width: 25%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    box-sizing: content-box;
    margin: 1.04vw;
    margin-top: 0;
}

#PortfolioHeading {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35pt;
    color: rgb(41, 41, 41);
}

#PortfolioText1 {
    padding: 0px 30px;
    top: 50%;
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    color: rgb(41, 41, 41);
    line-height: 27px;
    text-align: center;
}

#PortfolioText2 {
    padding: 5px 30px;
    top: 50%;
    display: inline-block;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    color: rgb(41, 41, 41);
    line-height: 27px;
    text-align: center;
}

.pRow1, .pRow2 {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 4px 0px;
}

.pRow1 div, .pRow2 div {
    padding: 0px 35px;
    width: 50%;
    box-sizing: content-box;
    margin: 1.04vw;
    margin-top: 0;
}

.cRow1 {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 4px 0px;
    margin-left:auto;
    margin-right:auto;
}

.cRow1 div {
    width: 50%;
    box-sizing: content-box;
    margin: 0.70vw;
    margin-top: 0;
}

#ContactForm {
    justify-content: center;
    padding: 10px 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
}

#email {
    padding-top: 50px;
}

#message {
    padding-top: 50px
}

input[type=text], textarea {
    width: 300px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 4px;
}

input[type=message], select, textarea {
    width: 500px;
    height: 200px;
    box-sizing: border-box;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 4px;
    resize: vertical;
    padding: 0 12px 160px;
}

input[type=submit] {
    padding: 8px 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 15pt;
    background-color: rgb(68, 68, 68);
    border-radius: 5px;
    cursor: pointer;
    margin-inline: 3px;
}